This is an automated message.

This message is to confirm your {{term}} loan of {{title}} from the {{building}} DCO office. This item is due {{due_date}}.

{{title_notice}}

If you require any assistance with this item, please contact us by replying to this message.

---
DCO Staff
help@eecs.umich.edu