This is an automated message.

Your loan of {{title}} has been updated. It is now due {{due_date}} and should be returned to the {{building}} DCO office.

If you require any assistance with this item, please contact us by replying to this message.

---
DCO Staff
help@eecs.umich.ed